<div class="loading-img" *ngIf="ShowLoder">
    <img src="../../assets/images/reload.gif" alt="Loading...">
</div>
<div *ngIf="!ShowLoder">
    <span *ngIf="ShowAnswersPercentage">number of respondents : {{NumberOfRespondents}}</span>
    <div *ngFor="let question of Questions">
        <app-question [Question]="question" (QuestionAnswersOutPut)="onQuestionAnswer($event)"
            [ShowAnswersPercentage]="ShowAnswersPercentage" [TotalNumberOfAnswers]="NumberOfRespondents"></app-question>
    </div>
    <button *ngIf="!ShowAnswersPercentage" (click)="submit()">Submit</button>
</div>